.Parent {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Mobile {
  display: flex;
  width: 15vw;
  background-color: rgb(255, 255, 255);
  height: 8vh;
  justify-content: center;
  align-items: center;
}
.Laptop {
  display: flex;
  width: 15vw;
  background-color: rgb(255, 255, 255);
  height: 8vh;
  justify-content: center;
  align-items: center;
}
.Clothing {
  display: flex;
  width: 15vw;
  background-color: rgb(255, 255, 255);
  height: 8vh;
  justify-content: center;
  align-items: center;
}
.Groccery {
  display: flex;
  width: 15vw;
  background-color: rgb(255, 255, 255);
  height: 8vh;
  justify-content: center;
  align-items: center;
}
.Applinces {
  display: flex;
  width: 15vw;
  background-color: rgb(255, 255, 255);
  height: 8vh;
  justify-content: center;
  align-items: center;
}
