.navbar {
  display: flex;
  background-color: rgb(65, 180, 223);
  align-items: center;
  justify-content: center;
  height: max-content;
  text-align: center;
}
.logo {
  background-color: rgb(223, 223, 65);
  width: 20vw;
  height: 10vh;
}
.searchbox {
  background-color: rgb(228, 179, 155);
  width: 20vw;
  height: 10vh;
}
.login {
  background-color: rgb(235, 8, 212);
  width: 8vw;
  height: 10vh;
}
.cart {
  background-color: rgb(78, 223, 65);
  width: 20vw;
  height: 10vh;
}
