.navbar {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  height: max-content;
  text-align: center;
  height: 10vh;
  text-shadow: 0.1px 0.22px black;
  text-decoration: dotted;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.searchbox {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 10vh;
  justify-content: center;
}
.login {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 10vh;
  justify-content: center;
}
.cart {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 10vh;
  justify-content: center;
}
